<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.pkuweather">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.dell.app.Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme" >
        /*allowBackup ture应用程序数据可以在手机未获取 ROOT
        的情况下通过adb调试工具来备份和恢复 */

        <activity android:name=".Guide">//注册MainActivity
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".SelectCity">
        </activity>


    </application>



</manifest>
